:root {
  --wit: rgba(255, 255, 255);
  --bg: #020304;
  --gloeilamp: rgb(241, 232, 96);
  --gloed: rgb(249, 239, 100);
}

body.dark {
  --wit: rgb(184, 184, 184);
  --bg: #020304;
  --gloeilamp: #8a8989;
  --gloed: transparent;
}

body {
  height: 100%;
  margin: 0;
  margin-right: 1em;
  overflow: hidden;
  box-sizing: border-box;
  background-color: var(--bg);

  position: relative;
}

h1 {
  color: var(--wit);
  text-align: center;
  font-size: 2em;
  margin-top: 1em;
}

.gloeiLamp {
  width: 50vw;
  aspect-ratio: 1;
  background-color: var(--gloeilamp);
  border-radius: 50%;
  border: solid 0.625em var(--wit);
  position: fixed;
  bottom: -2em;
  left: calc(50% - 50vw / 2);

  box-shadow: none;
}

.glitter {
  width: 30%;
  height: 20%;
  background-color: var(--wit);
  border-radius: 44% 55% 45% 56% / 38% 39% 60% 61%;

  position: absolute;
  transform: rotate(30deg);
  top: 10%;
  right: 15%;
}

.text {
  width: 80%;
  text-align: center;
  padding: 0 10%;
  color: var(--wit);
  font-size: 2em;

  position: absolute;
  top: 3em;
}
